# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\thoma\Documents\Cphbusiness-Lyngby-Softwareudvikling\System-Integration\Mini Project\spring-rest-hateoas-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
